.cardStyling {
    background: #FFF;
    border-radius: 10px;
    min-height: 430px;
}

.cardImage {
    padding-top: 10px;
    min-height: 250px;
    vertical-align: auto;
}

.cardTitle {
    min-height: 60px;
    color: #121212;
}